@use "./base.scss";

// put your custom CSS here!

body {
  background-color: #0d0d0d; /* near black */
  color: #00ff7f; /* green terminal text */
  font-family: "Fira Code", monospace;
}
a {
  color: #33ccff;
}
code, pre {
  background-color: #111;
  color: #0f0;
  font-family: "Fira Code", monospace;
}